.news-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.news-card{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-footer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}
