<div class="news-container">
  <div *ngFor="let article of newsArticles">
    <mat-card class="news-card">
      <mat-card-header>
        <mat-card-title>{{article.title}}</mat-card-title>
        <mat-card-subtitle>{{article.author}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{article.urlToImage}} alt="News Thumbnail">
      <mat-card-content>{{article.description}}</mat-card-content>
      <mat-card-footer class="card-footer">
        <a mat-raised-button target="_blank" color="primary" href={{article.url}}>Read More</a>
        <button class="btn save-button" mat-raised-button color="accent" (click)="this.myFirestore.saveArticle(article)">Save Article</button>
      </mat-card-footer>
    </mat-card>
  </div>


  <!-- <mat-card class="news-card">
  <mat-card-title>{{this.newsAPIService.articles[0]}}</mat-card-title>
  <span>Placeholder Text</span>
</mat-card> -->
</div>
